body {
    font-family: Bahnschrift, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: linear-gradient(deeppink, transparent);
}

main h1 {
    font-size: 2.5rem;
    color: blueviolet;
}

.cards {
    display: flex;
    width: 1440px;
    background: rebeccapurple;

    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 35px;
        justify-content: center;
        padding: 0;
    }

    li {
        display: flex;
        width: 400px;
        margin-bottom: 50px;
        border: 7px solid blue;
        background-color: gray;

        article {
            width: 100%;
            margin: 0 auto;
            max-width: 400px;

            h2 {
                margin-top: -0.4rem;
                font-size: 1.5rem;
                margin-left: 1rem;
            }

            p {
                width: 90%;
                height: auto;
                line-height: 1rem;
                margin-left: 1rem;
            }

            .height {
                margin-top: -1rem;
                font-weight: bold;
            }

            .group {
                width: 80px;
                background: yellow;
                text-align: center;
                border-radius: 15%;
                margin-left: 10px;
            }

            picture {
                width: 100%;

                img {
                    width: 100%;
                }
            }

            .link {
                display: flex;
                align-items: center;
                justify-content: center;
                width: fit-content;
                padding: 2%;
                border: 2px solid blue;
                border-radius: 15px;
                background: lightgray;
                margin-left: 40%;
                margin-bottom: 0.5rem;
            }
        }
    }
}